/* Styling for Mars Web-Scraping index.html */

.container-title {
    width: 100%;
    height: 300px;
    background-color: lightskyblue;
}

.text-wrapper {
    font-size: 100px;
    font-weight: bold;
    color: gray;
    text-align: center;
    padding-top: 50px;
}
.btn-wrapper {
    width: 200px;
    height: 50px;
    margin-left: 45.5%;
    margin-top: 30px;
    align-content: center;
    border:solid;
    border-color:black;
    border-width:2px;
    background-color: goldenrod;
}
a {
    font-size: 30px;
    font-weight: bold;
    color:black; 
    padding-left: 13px;
    padding-top: 5px;

}

.row1 {
    display: flex;
    background-color: lightgrey;
}

p {
    font-size: 20px;
    font-weight: bold;
}

.row2 {
    display: flex;
    margin-top: 40px;
}

.col-md-8 {
    background-color: springgreen;
    width: 1000px;
    height: 560px;
    margin-left: 25px;
    padding-left: 100px;
}

.col-md-4 {
    background-color: springgreen;
    width: 700px;
    height: 560px;
    margin-left: 30px;
    padding-left: 50px;
}

table {
    background-color: lightgrey;
    width: 550px;
    height: 400px;
}

th {
    font-size: 20px;
    font-weight: bold;
}

td {
    font-size: 20px;

}

.mars-hemi {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.row3 {
    display: flex;
    padding-left: 40px;
}

.image-container {
    background-color: salmon;
    color: black;
    width: 400px;
    height: 550px;
    margin-left: 20px;
}

footer {
    height: 150px;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    padding-top: 145px;
    padding-right: 10px;
}
