<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <meta charset='UTF-8'>
        <title>Mars Web Scraping</title>
        <link rel="stylesheet" type= 'text/css' href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class='container-title'>
            <div class='text-wrapper'>
                Mission to Mars
            </div>
            <div class='btn'>
                <button href="/scrape">Scrape Mars</button>
            </div>
        </div>

        <div class='container-data'>
            <div class='row1'>
                <div class='col-md-12'>
                    <h1>Latest Headlines:</h1>
                    <p>{{ mars.headline }}</p>
                    <p>{{ mars.news }}</p>        
                </div>
            </div>
            <div class='row2'>
                <div class='col-md-8'>
                    <h1>Featured Image:</h1> 
                    <img src='{{ mars.featured_img }}' alt="Mars Featured Image">

                </div>
                <div class='col-md-4'>
                    <h1>Mars Facts:</h1>        
                </div>
            </div>

            <div class='mars-hemi'>
                Mars Hemispheres
            </div>
            
            <hr>
            
            <div class='row3'>
                <div class='col-md-3'>
                    <div class="image-container">
                        <h1>{{ hem1 }}:</h1>
                        <img src="{{ img1 }}" alt="{{ hem1 }}">
                    </div>        
                </div>
                <div class='col-md-3'>
                    <div class="image-container">
                        <h1>{{ hem2 }}:</h1>
                        <img src="{{ img2 }}" alt="{{ hem2 }}">
                    </div>       
                </div>
                <div class='col-md-3'>
                    <div class="image-container">
                        <h1>{{ hem3 }}:</h1>
                        <img src="{{ img3 }}" alt="{{ hem3 }}">
                    </div>        
                </div>
                <div class='col-md-3'>
                    <div class="image-container">
                        <h1>{{ hem4 }}:</h1>
                        <img src="{{ img4 }}" alt="{{ hem4 }}">
                    </div>        
                </div>
            </div>
        </div>

    </body>

    <footer class='ending'>
        by: Garrett Gomez-Spillane
    </footer>

</html>